.products-section {
    margin-top: 57px;
    margin-bottom: 74px;
    &__title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 43px;
        h2 {
            font-family: Quicksand;
            font-weight: 700;
            font-size: 32px;
            line-height: 38.4px;
            color: #253D4E;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 19.5px;
            li {
                user-select: none;
                cursor: pointer;
                color: #253D4E;
                font-family: Quicksand;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
                &:hover {
                    transition: .2s;
                    color: #3BB77E;
                }
            }
            .category.active {
                color: #3BB77E;
            }
        }
    }
    &__products {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 24px;
        .products-section__product {
            position: relative;
            max-width: 298px;
            border: 1px solid #ECECEC;
            border-radius: 15px;
            padding: 25px 21px 21px 21px;
            overflow: hidden;
            &:hover {
                .products-section__product__img {
                    img {
                        transform: scale(104%);
                    }
                }
            }
            .products-section__product__img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 246px;
                height: 246px;
                img {
                    object-fit: contain;
                    transition: .3s;
                    width: 206px;
                    height: 206px;
                }
            }
            .products-section__product__type {
                font-family: Lato;
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;
                color: #ADADAD;
                margin-top: 5px;
                margin-bottom: 9px;
            }
            .products-section__product__title {
                font-family: Quicksand;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.47999998927116394px;
                color: #2B2B2D;
                margin-bottom: 8px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            .products-section__product__rating {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 7px;
                span {
                    display: flex;
                    gap: 1px;
                    .rate {
                        color: #FDC040;
                    }
                    .unrate {
                        color: #B6B6B6;
                    }
                }
                h5 {
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #B6B6B6;
                }
            }
            .products-section__product__company {
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #B6B6B6;
                margin-bottom: 19px;
                span {
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #3BB77E;
                }
            }
            .products-section__product__price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    p {
                        color: #3BB77E;
                        font-family: Quicksand;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 24px;
                    }
                    span {
                        font-family: Quicksand;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 24px;
                        color: #ADADAD;
                    }
                }
                button {
                    cursor: pointer;
                    background: #DEF9EC;
                    color: #3BB77E;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border-radius: 4px;
                    padding: 10px 20px;
                    font-family: Lato;
                    font-weight: 700;
                    &:active {
                        transition: .2s;
                        scale: .97;
                    }
                    &:hover {
                        transition: .2s;
                        color: white;
                        background: #3BB77E;
                        svg {
                            color: white;
                        }
                    }
                    svg {
                        font-size: 18px;
                        color: #3BB77E;
                    }
                }
            }
            .products-section__product__brand {
                position: absolute;
                font-family: Lato;
                top: 0;
                left: 0;
                background: #3BB77E;
                padding: 8px 20px;
                color: #FFFFFF;
                border-radius: 0px 0px 20px 0px;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
            }
        }
    }
    .loading {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 24px;
        .products-section__product {
        margin-top: 31px;
            position: relative;
            max-width: 298px;
            border: 1px solid #ECECEC;
            border-radius: 15px;
            padding: 25px 21px 21px 21px;
            overflow: hidden;
            .products-section__product__img {
                width: 246px;
                height: 246px;
                background: #e6e6e6;
                border-radius: 4px;
            }
            .products-section__product__type {
                margin-top: 5px;
                width: 80px;
                border-radius: 4px;
                height: 24px;
                background: #e6e6e6;
                margin-bottom: 9px;
            }
            .products-section__product__title {
                width: 180px;
                height: 24px;
                background: #e6e6e6;
                border-radius: 4px;
                margin-bottom: 8px;
            }
            .products-section__product__rating {
                width: 180px;
                height: 24px;
                background: #e6e6e6;
                border-radius: 4px;
                margin-bottom: 7px;
            }
            .products-section__product__company {
                width: 100px;
                height: 24px;
                background: #e6e6e6;
                border-radius: 4px;
                margin-bottom: 19px;
            }
            .products-section__product__price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                div {
                    width: 96px;
                    height: 24px;
                    background: #e6e6e6;
                    border-radius: 4px;
                }
                button {
                    width: 85px;
                    border-radius: 4px;
                    height: 36px;
                    background: #e6e6e6;
                }
            }
            .products-section__product__brand {
                position: absolute;
                top: 0;
                left: 0;
                background: #e6e6e6;
                border-radius: 0px 0px 20px 0px;
                width: 71px;
                height: 24px;
            }
        }
    }
    .seeMore {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        button {
            padding-top: 13px;
            background: #3BB77E;
        }
    }
}
